{% load i18n %}
<footer class="py-3 mt-auto text-center bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright 2024; Your Website 2023</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-white">{% trans "Политика конфиденциальности" %}</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white">{% trans "Условия использования" %}</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-white">{% trans "Контакты" %}</a>
            </li>
        </ul>
    </div>
</footer>