{% extends "users/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Смена пароля</h3>
                        </div>
                        {% include 'users/errors/forms_errors.html' %}
                        <div class="card-body">
                            <form method="post">
                                {% include 'users/errors/non_field_errors.html' %}

                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="mb-1 text-secondary" for="{{ form.old_password.id_for_label }}">Old
                                        Password</label>
                                    {{ form.old_password }}

                                    <label class="mb-1 text-secondary" for="{{ form.new_password1.id_for_label }}">New
                                        Password</label>
                                    {{ form.new_password1 }}

                                    <label class="mb-1 text-secondary" for="{{ form.new_password2.id_for_label }}">Confirm
                                        new
                                        Password</label>
                                    {{ form.new_password2 }}
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small">
                                        <button class="btn btn-outline-primary" type="submit">Update Password
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}