{% extends 'users/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    {% include 'users/errors/forms_errors.html' %}

                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Восстановить пароль</h3>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'users:password_reset' %}" method="post">
                                {% csrf_token %}
                                <label class="media-text mb-2" for="{{ form.email.id_for_label }}">Адрес электронной
                                    почты: </label>
                                {{ form.email }}
                                <label class="media-text mb-2" for="{{ form.captcha.id_for_label }}">Введите
                                    капчу: </label>
                                {{ form.captcha }}
                                <div class="form-group mt-4 mb-0 text-center">
                                    <input class="btn btn-primary btn-block" type="submit" value="Восстановить пароль">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
