{% extends 'users/base.html' %}

{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <h1>Пароль успешно сброшен</h1>
                    <p>Ваш пароль был успешно изменен. Теперь вы можете войти в свою учетную запись.</p>
                    <a href="{% url 'users:login' %}">Перейти к входу</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
